PORT=3001
MONGO_URI="mongodb://localhost:27017/nvolopi"
# openssl rand -base64 512
PRIV_KEY="gV+SOO3f9+f/Go8ZdP0oRbVKMkkLPEf0Tb9vOnNs9R0L5azqpR+GRD7YvLh2Psbs8jbDPI/UEQoIqnQfUPXtiBqUp9G0Fh+2eFuwHk98eHOigUnEJADaMMf5JVcIZljoUBZM3xHJMA3+gDLUBEc6jK7zWPBmPbq7utohx53HVrkfHf2h2un52SAxqeHNkjG9dmImmAyF16JEzlTPjnWNBC9DFak2tMtytPMg+d1poxh8m7rXO2a3keEXtgSTH7jJYhjik3JdkWOnBWRiY1vQ9HU8iaOO1kpDiymcULVZu+Suy/hkYjhFIsNkQB3iuNVPOGRTJBAduBzuq22PSDC3LO7qLX3TMT0cDNoFGrHh+D7Gu4oebkAYjKOwrsgqZW6yGstEC64UwK1CpsZFssZZi50MTqe/OKNT1qCJbTbuKFmfDQ4vIIN7D/5oOqLgeS8m7KWq7rv8rZmtNaGmsblrCRhe3OaDDUu34O9QyaWd+k9AEiqMNxCfT152osMtkgKh0bKu6wgCZPr7OP0CDAjdYgvdsbHyHyQrevC/gpgiGTlXpDMf6RFkQP7q1yGNB8zFFbP9izRJeBQOTzMqCQoYCCWKBlRTvat2nYMsLs71Yan4xYNGpl79MtfgYzgapbKWmdf3PVw781zkCAW8ZE6swMVx73vvP/yNqK56lMaII5Y="